<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <title>Cypress</title>
  </head>
  <body>
    <div class="flex w-screen h-screen background-cover background-color">
      <div class="container">
        <img
          class="logo-img"
          loading="lazy"
          src="cypresslogo.svg"
          alt="cypress logo"
        />
        <h1 class="head-title">Cypress Real-Time Server</h1>
      </div>
    </div>
  </body>
</html>
